aiohappyeyeballs==2.7.1
aiohttp==3.14.3
aiosignal==1.4.0
arrow==1.1.1
async-timeout==3.0.1
attrs==26.1.0
build==0.6.0.post1
certifi==2026.7.22
chardet==4.0.0
charset-normalizer==2.0.4
colorama==0.4.6
frozenlist==1.8.0
idna==3.19
jmespath==0.10.0
multidict==6.8.0
packaging==26.3
pep517==0.11.0
propcache==0.5.2
python-dateutil==2.8.2
requests==2.26.0
six==1.16.0
tomli==1.2.1
typing_extensions==4.16.0
urllib3==1.26.6
yarl==1.24.5
pytest>=7.0.0
pytest-asyncio>=0.18.0
pytest-timeout>=2.1.0
